@import url('https://fonts.googleapis.com/css?family=Roboto');

#final {
    background-color: whitesmoke;
    border: 5px solid black;
}

.buffer { 
    margin-top:50px;
    margin-bottom: 50px;
 }
#mainHeading {
    margin-top: 200px;
}
 .covervid-wrapper {
    position: absolute;
    top: 15;
    left: 0;
    width: 100%;
    height: 90%;
}

#first {
    margin-top: 300px;
} 

#final {
    border: 5px;
    border-color: black;
}

#vid {
    opacity: 0.4;
}