@import url('https://fonts.googleapis.com/css?family=Roboto');

#final {
    background-color: whitesmoke;
}

.buffer { 
    margin-top:50px;
    margin-bottom: 50px;
 }

 /* .covervid-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */
