@import url('https://fonts.googleapis.com/css?family=Roboto');

#final {
    background-color: whitesmoke;
}

/* .buffer { 
    margin-top:50px;
    margin-bottom: 50px;
 } */
 .buffer {
     margin-top: 5em;
     margin-bottom: 2em;
 }
#mainHeading {
    margin-top: 20%;
}


#sub {
    padding-bottom: 20%;
}
 .covervid-wrapper {
    position: absolute;
    object-fit: contain;
    top: 15;
    left: 0;
    width: 79em;
    height: 33em;
}

/* #first {
    margin-top: 300px;
}  */

#final {
    border: 5px;
    border-color: black;
}

#vid {
    opacity: 0.4;
}
